#mypage {
  .content-container {
    display: flex;
    .content-left-margin {
      flex: 1;
    }
    .content {
      flex: 2;
      #write-post-card,
      #write-summary-card,
      #write-debate-card {
        margin: 15px 0 10px;
      }
    }
    .content-right-margin {
      flex: 1;
    }
  }
}
