#settings {
    padding-left: calc(300px + 108px);
    padding-top: 64px;
    padding-right: 108px;
    padding-bottom: 64px;

    .settings-content {
        .icon {
            font-size: 20px;
            margin-right: 10px;
        }

        &-header {
            display: flex;
            align-items: center;
        }
    }
}
