@use "./variables" as v;

#content-main-layout {
  #floating-user-profile {
    position: fixed;
    top: 200px;
    left: 60px;
  }
  .upper-container {
    background-color: v.$brand-color3;
    padding-left: 280px;
  }
  .lower-container {
    padding-left: 280px;
  }
}
