@use "./variables";

@use "./pages/debate";
@use "./pages/landing";
@use "./pages/login";
@use "./pages/mypage";
@use "./pages/register";
@use "./pages/search";
@use "./pages/summary";
@use "./pages/create_summary";
@use "./pages/create_debate";
@use "./pages/detail/post_detail";
@use "./pages/detail/debate_detail";
@use "./pages/detail/summary_detail";
@use "./pages/integrated_search";
